<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


    <!--    чтоб импортировать пропертис -->
    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="musicBean1"
          class="ar.mak.BluesMusic">
        <!--        <constructor-arg value="Artem"/>-->
    </bean>
    <bean id="musicBean2"
          class="ar.mak.ClassicalMusic"
          factory-method="getClassicalMusic"
          init-method="init"
          destroy-method="destroy">
    </bean>
    <bean id="musicBean3"
          class="ar.mak.RockMusic">
    </bean>

    <bean id="musicPlayer"
          class="ar.mak.MusicPlayer"
          scope="singleton"
          init-method="init"
          destroy-method="destroy">

        <!--        <constructor-arg ref="musicBean"/>-->
        <property name="music" ref="musicBean2"/>
        <!--        setMusic = bean ->> music // camel case -->
        <!--        <property name="name" value="Some name"/>-->
        <!--        <property name="volume" value="50"/>-->
        <!--        чтоб поместить значение в xml-->
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
        <!--        https://www.youtube.com/watch?v=dBxRmUH3Af8-->
        <property name="listMusic">
            <list>
                <ref bean="musicBean1"/>
                <ref bean="musicBean2"/>
                <ref bean="musicBean3"/>
            </list>
        </property>

    </bean>

</beans>